@use "../../styles/vars/colors" as *;

.select {
  width: 280px;
  height: 40px;
  outline: none;
  padding: 5px;
  background-color: $black-text;
  color: $white-text;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 15px;
}